<ion-view view-title="Giris Ekrani">
  <ion-content class="padding">

      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Kullanici adi" ng-model="ka">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Sifre" ng-model="s">
          </label>
          <button class="button button-full button-positive" ng-click="kullanici_kontrol(ka,s)">
              Giris
          </button>
          
      </div>


  </ion-content>
</ion-view>
